.app {
    width: 100%;
    background: var(--bg-color);
}

.app.dark {
    --white-color: #000;
    --black-color: #fff;
    --bg-color: #303038;
    --text-color: #f0f5f5;
    --bg-item-hover: rgb(122, 122, 122);
    --bg-mode: #232127;
}

.header {
    width: 100%;
    box-shadow: 0 2px 8px #ccc;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background: var(--bg-color);
    z-index: 10;
}

.header-grid {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: var(--header-height);
}

.header-left {
    height: var(--header-height);
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}

.header-left__logo {
    font-size: 4.4rem;
    font-weight: 600;
    cursor: pointer;
    background: linear-gradient(
        to top right,
        var(--primary-color),
        rgb(217, 213, 255)
    );
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.header-right {
}

.header-right__profile {
    border-radius: 50%;
    position: relative;
    color: var(--text-color);
}

.header-right__avt {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #ccc;
    font-size: 1.6rem;
    color: var(--black-color);
}

.header-right__profile:hover {
    cursor: pointer;
}

.profile__sub-menu {
    position: absolute;
    top: calc(100% + 10px);
    right: 0;
    background: var(--white-color);
    min-width: 160px;
    border-radius: 4px;
    box-shadow: 2px 4px 8px rgba(0, 0, 0, 0.05);
    padding: 8px 0;
    opacity: 0;
    pointer-events: none;
    transform: scale(0);
    transform-origin: calc(100% - 20px) top;
    transition: all ease 0.4s;
}

.header-right__profile:hover .profile__sub-menu {
    opacity: 1;
    transform: scale(1);
    pointer-events: unset;
}

.profile__sub-menu::before {
    content: "";
    position: absolute;
    top: -16px;
    right: 10px;
    border-width: 10px;
    border-style: solid;
    border-color: transparent transparent var(--white-color) transparent;
}

.profile__sub-menu::after {
    content: "";
    position: absolute;
    top: -16px;
    left: 0;
    width: 100%;
    height: 16px;
    background: transparent;
}

.profile__item {
    display: flex;
    align-items: center;
    padding: 4px 12px;
    transition: all ease 0.25s;
}

.profile__item:hover {
    background: var(--bg-item-hover);
}

.profile__item-icon {
    width: 20px;
    height: 20px;
    display: flex;
    align-items: center;
    font-size: 1.2rem;
}

.profile__item-text {
    font-size: 1.4rem;
    color: var(--text-color);
    margin-left: 4px;
}

/* ----------------------------------------------------------- */

.main {
    display: flex;
    align-items: center;
    padding-top: var(--header-height);
    height: 100vh;
}

.main-left,
.main-mid,
.main-right {
    height: calc(100vh - var(--header-height));
}

.main-left {
    padding-right: 12px;
    padding-top: 12px;
    box-shadow: 4px 0px 8px rgba(0, 0, 0, 0.05);
    position: sticky;
    top: var(--header-height);
}

.main-left__search {
    display: flex;
    align-items: center;
    background: var(--white-color);
    border-radius: 20px;
    padding: 4px 12px;
    margin-bottom: 12px;
    background: var(--white-color);
}

.main-left__search-icon {
    font-size: 1.6rem;
    color: #ccc;
}

.main-left__search-input {
    color: var(--text-color);
    width: 220px;
    background: var(--white-color);
}

.separate {
    width: 100%;
    height: 1px;
    background: #ccc;
}

.main-left__nav {
    margin: 12px 0;
}

.main-left__list {
    margin-top: 12px;
    margin-bottom: 12px;
}

.main-left__item {
    color: var(--text-color);
    display: flex;
    align-items: center;
    border-radius: 4px;
    padding: 6px 12px;
    transition: all ease 0.3s;
}

.main-left__item + .main-left__item {
    margin-top: 2px;
}

.main-left__item.active {
    background: var(--bg-item-hover);
}

.main-left__item:hover {
    background: var(--bg-item-hover);
    cursor: pointer;
}

.main-left__item-icon {
    font-size: 1.5rem;
    color: var(--text-color);
    display: flex;
    justify-content: center;
    align-items: center;
    width: 20px;
    height: 20px;
}

.main-left__item-text {
    color: var(--text-color);
    font-size: 1.6rem;
    font-weight: 500;
    margin-left: 8px;
}

.main-left__mode {
    margin-top: 12px;
    display: flex;
    align-items: center;
    padding: 2px;
    border-radius: 18px;
    position: relative;
    background: var(--bg-mode);
}

.main-left__mode-btn {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    padding: 6px 12px;
    border-radius: 16px;
    transition: all ease 0.3s;
    z-index: 2;
}

.main-left__mode-btn.light {
}

.main-left__mode-btn.dark {
    color: var(--text-color);
}

.main-left__mode-btn:hover {
}

.main-left__mode-box {
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    width: 50%;
    background: var(--white-color);
    border-radius: 16px;
    transition: all ease-in-out 0.25s;
}

.main-left__mode-box.active {
    left: 50%;
}

.main-left__mode-btn:hover {
    cursor: pointer;
}

.main-left__mode-btn__icon {
    font-size: 1.6rem;
    width: 20px;
    height: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.main-left__mode-btn__text {
    font-size: 1.6rem;
    margin-left: 4px;
}

.toggle-menu {
    position: fixed;
    font-size: 2.4rem;
    width: 28px;
    height: 28px;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 20;
    left: 12px;
    bottom: 6px;
    cursor: pointer;
    display: none;
}

.main-mid {
    color: var(--text-color);
    flex: 1;
    overflow-y: auto;
    padding-bottom: 44px;
}

::-webkit-scrollbar {
    width: 6px;
}

::-webkit-scrollbar-thumb {
    background-color: #ccc;
    border-radius: 6px;
}
::-webkit-scrollbar-button {
    height: 2px;
}

.main-mid__create-post {
    box-shadow: -2px -2px 4px var(--bg-item-hover),
        2px 2px 4px var(--bg-item-hover);
    background: var(--white-color);
    margin: 12px 8px;
    border-radius: 8px;
    display: flex;
    align-items: center;
    padding: 8px 12px;
}

.create-post__avt {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.6rem;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    overflow: hidden;
    border: 1px solid #ccc;
}

.create-post__input {
    font-size: 1.6rem;
    font-style: italic;
    color: #bbb;
    margin-left: 8px;
    flex: 1;
}

.create-post__input:hover {
    cursor: text;
}

.main-mid__newfeeds {
    margin: 12px 8px;
}

.newfeed {
    padding: 4px 12px 12px;
    background: var(--white-color);
    border-radius: 8px;
    position: relative;
}

.newfeed + .newfeed {
    margin-top: 12px;
}

.newfeed__head {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 4px 0;
}

.newfeed__head-left {
    display: flex;
    justify-content: center;
    align-items: center;
}

.newfeed__avt {
    width: 28px;
    height: 28px;
    font-size: 1.2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    overflow: hidden;
    border: 1px solid #ccc;
    margin-right: 4px;
}

.newfeed__status {
}

.newfeed__status-name {
    font-size: 1.2rem;
    color: var(--text-color);
}

.newfeed__status-more {
    display: flex;
    align-items: center;
    gap: 4px;
}

.newfeed__status-icon {
    font-size: 1.2rem;
}

.newfeed__status-time {
    font-size: 1rem;
}

.newfeed__head-right {
}

.newfeed__delete {
    font-size: 1.2rem;
    transition: all ease 0.2s;
}

.newfeed__delete:hover {
    cursor: pointer;
    transform: scale(1.1);
}

.newfeed__content {
    font-size: 2rem;
}

.newfeed__react {
    z-index: 2;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translate(-50%, 50%);
}

.newfeed__react-icon {
    border-radius: 50%;
    background: var(--white-color);
    border: 1px solid #ccc;
    width: 32px;
    height: 32px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    transition: all ease-in-out 0.3s;
}

.newfeed__react-icon.active {
    color: #f0314b;
}

.newfeed__react-icon:hover {
    cursor: pointer;
}

.main-right {
    color: var(--text-color);
    width: 250px;
    padding-left: 12px;
    padding-top: 12px;
    box-shadow: -4px 0 4px rgba(0, 0, 0, 0.1);
}

.main-right__heading {
    font-size: 2rem;
    font-weight: 400;
}

.main-right__heading.group {
    margin-top: 20px;
}

.main-right__list {
    margin-top: 12px;
}

.main-right__item {
    padding: 8px 12px 8px 0;
    border-radius: 8px;
    display: flex;
    align-items: center;
    transition: all ease 0.25s;
}

.main-right__item:hover {
    background-image: linear-gradient(
        to right,
        transparent,
        var(--bg-item-hover)
    );
    cursor: pointer;
}

.main-right__item-avt {
    width: 20px;
    height: 20px;
    font-size: 1.4rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    border: 1px solid #ccc;
    position: relative;
}

.main-right__item-avt--online {
    position: absolute;
    right: -2px;
    bottom: -2px;
    width: 6px;
    height: 6px;
    border-radius: 50%;
    background: #31a24c;
}

.main-right__item-name {
    margin-left: 6px;
    font-size: 1.4rem;
}
/* ------------------------------------------------- */

.footer {
    width: 100%;
    box-shadow: 0 2px 8px #ccc;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background: var(--bg-color);
    z-index: 10;
    height: 40px;
}

.footer-grid {
    display: flex;
    align-items: center;
    gap: 0 12px;
}

.footer-content {
    font-size: 1.6rem;
    color: var(--text-color);
}

.box {
    position: relative;
    border-radius: 4px;
    width: 20px;
    height: 20px;
    border: 2px solid var(--primary-color);
    overflow: hidden;
    animation: spin 3s ease infinite;
}

.box::before {
    content: "";
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    background: var(--primary-color);
    transform-origin: center bottom;
    transform: scaleY(1);
    animation: fill 3s linear infinite;
}

@keyframes spin {
    50%,
    100% {
        transform: rotate(360deg);
    }
}

@keyframes fill {
    25%,
    50% {
        transform: scaleY(0);
    }
    100% {
        transform: scaleY(1);
    }
}

/* ----------------------------------------------------- */

.modal {
    color: var(--text-color);
    position: fixed;
    z-index: 20;
    inset: 0;
    background: rgba(0, 0, 0, 0.7);
    display: flex;
    justify-content: center;
    align-items: center;
    display: none;
}

.modal.active {
    display: flex;
}

.modal-body {
    border-radius: 12px;
}

@keyframes scaleZoom {
    0% {
        opacity: 0;
        transform: scale(0);
    }
    50% {
        transform: scale(1.2);
    }
    100% {
        transform: scale(1);
        opacity: 1;
    }
}

.post,
.confirm {
    background: var(--white-color);
    padding: 8px 12px;
    width: 400px;
    border-radius: 12px;
    border: 1px solid #ccc;
    display: none;
    transition: all ease-in-out 0.2s;
}

.post.active,
.confirm.active {
    display: block;
    animation: scaleZoom 0.8s ease-in-out;
}

.post-head {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.post-heading {
    font-size: 2rem;
    font-weight: 500;
}

.post-close {
    font-size: 1.6rem;
    transition: all ease 0.5s;
}

.post-close:hover {
    cursor: pointer;
    transform: rotate(90deg);
}

.post-body {
    margin-top: 4px;
}

.post-input {
    outline: none;
    border: none;
    width: 100%;
    resize: none;
    background: var(--white-color);
    color: var(--text-color);
    font-size: 1.4rem;
}

.post-btn {
    font-size: 1.3rem;
    border-radius: 20px;
    border: 1px solid #ccc;
    margin: 0 auto;
    background: var(--primary-color);
    transition: all ease 0.3s;
}

.post-btn.disabled,
.post-btn.disabled:hover {
    cursor: not-allowed;
    color: #999;
    background: var(--white-color);
}

.post-btn:hover {
    color: var(--text-color);
    cursor: pointer;
    background: var(--bg-hover-color);
}

.confirm {
    padding: 20px 12px;
}

.confirm-heading {
    font-size: 2rem;
    text-align: center;
    margin-bottom: 12px;
}

.confirm-body {
    margin-top: 16px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.confirm-btn {
    border: none;
    color: var(--white-color);
}

.confirm-btn:hover {
    cursor: pointer;
}

.confirm-btn.yes {
    background: var(--primary-color);
}

.confirm-btn.yes:hover {
    background: var(--bg-hover-color);
}

.confirm-btn.no {
    background: #d85261;
}

@media (max-width: 1200px) {
    .header-grid {
        padding: 0 12px;
    }

    .main-left {
        padding-left: 12px;
    }
}

@media (max-width: 1024px) {
    .main-right {
        display: none;
    }
}

@media (max-width: 768px) {
    .main-left {
        position: fixed;
        top: var(--header-height);
        bottom: 40px;
        transform: translateX(-100%);
        left: 0;
        z-index: 6;
        background: var(--bg-color);
        transition: all linear 0.3s;
    }

    .main-left.active {
        transform: translateX(0);
    }

    .toggle-menu {
        display: flex;
    }
}
