@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");

:root {
    --primary-color: rgb(174, 162, 247);
    --bg-hover-color: rgb(157, 143, 248);
    --bg-item-hover: rgb(230, 230, 230);
    --text-color: #050505;
    --white-color: #fff;
    --black-color: #000;
    --bg-color: #f0f2f5;
    --bg-mode: #f6f6ff;
    --grid: 1200px;
    --header-height: 60px;
}

*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
}

html,
body {
    font-family: "Poppins", sans-serif;
    font-size: 62.5%;
    user-select: none;
}

body {
    min-height: 100vh;
    width: 100%;
    background: var(--bg-color);
    scroll-behavior: smooth;
}

input {
    border: none;
    outline: none;
    padding: 4px 12px;
    border-radius: 4px;
}

.btn {
    padding: 4px 12px;
    border-radius: 20px;
    border: 1px solid #ccc;
    width: fit-content;
    min-width: 60px;
    text-align: center;
    font-size: 1.4rem;
    transition: all ease 0.25s;
}

.grid {
    max-width: var(--grid);
    margin: 0 auto;
}

/* --------------------------------------- */

/* Modifier */
.btn--size-l {
    padding: 16px 56px;
}

.btn--size-s {
    padding: 8px 32px;
}

.btn--success {
    background-color: #71be34;
}

.btn--warn {
    background-color: #ffb702;
}

.btn--danger {
    background-color: #ff623d;
}

.btn--disabled {
    opacity: 0.5 !important;
    cursor: default;
}

/* ======= Toast message ======== */

#toast {
    position: fixed;
    top: 32px;
    right: 32px;
    z-index: 999999;
}

.toast {
    display: flex;
    align-items: center;
    background-color: #fff;
    border-radius: 2px;
    padding: 8px 0;
    min-width: 300px;
    max-width: 350px;
    border-left: 4px solid;
    box-shadow: 0 5px 8px rgba(0, 0, 0, 0.08);
    transition: all linear 0.3s;
}

@keyframes slideInLeft {
    from {
        opacity: 0;
        transform: translateX(calc(100% + 32px));
    }
    to {
        opacity: 1;
        transform: translateX(0);
    }
}

@keyframes fadeOut {
    to {
        opacity: 0;
    }
}

.toast--success {
    border-color: #47d864;
}

.toast--success .toast__icon {
    color: #47d864;
}

.toast--info {
    border-color: #2f86eb;
}

.toast--info .toast__icon {
    color: #2f86eb;
}

.toast--warning {
    border-color: #ffc021;
}

.toast--warning .toast__icon {
    color: #ffc021;
}

.toast--error {
    border-color: #ff623d;
}

.toast--error .toast__icon {
    color: #ff623d;
}

.toast + .toast {
    margin-top: 8px;
}

.toast__icon {
    font-size: 24px;
}

.toast__icon,
.toast__close {
    padding: 0 16px;
}

.toast__body {
    flex-grow: 1;
}

.toast__title {
    font-size: 1.4rem;
    font-weight: 600;
    color: #333;
}

.toast__msg {
    font-size: 1.2rem;
    color: #888;
    line-height: 1.5;
}

.toast__close {
    font-size: 12px;
    color: rgba(0, 0, 0, 0.3);
    cursor: pointer;
}
